@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/gilroy-regular/gilroy-regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Silk Serif";
	src: url("/fonts/silk-serif/Silk Serif Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Gilroy", sans-serif;
}
